<!DOCTYPE html>
<html lang="en">
<head>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Add new item</title>
</head>
<body>

<a th:href="@{/}" class="btn btn-primary" role="button">Home</a><br>

<h2>Add New Item</h2>

<form th:action="@{/items/addItem}" method="post" class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label> Name:
        <input type="text" name="name" class="form-control" required />
      </label>
    </div>

    <div class="form-group">
      <label> Quantity:
        <input type="number" name="quantity" class="form-control" required />
      </label>
    </div>

    <div class="form-group">
      <label> Description:
        <textarea name="description" class="form-control" rows="4" required></textarea>
      </label>
    </div>

    <div class="form-group">
      <label> Price:
        <input type="number" name="price" class="form-control" required />
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-secondary">Add item</button>
    </div>
  </div>
</form>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

</body>
</html>