<!DOCTYPE html>
<html lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Merch Service</title>

</head>
<body>

<a th:href="@{/}" class="btn btn-primary" role="button">Home</a><br>

<div class="container">
    <a th:href="@{/users}" class="btn btn-secondary" role="button">Users</a>
    <a th:href="@{/items}" class="btn btn-secondary" role="button">Items</a>
    <a th:href="@{/purchasePage}" class="btn btn-secondary" role="button">Purchase</a>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

</body>
</html>