<!DOCTYPE html>
<html lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Item list</title>
</head>
<body>

<a th:href="@{/}" class="btn btn-primary" role="button">Home</a><br>

<div class="container">
    <a th:href="@{/items/addItemForm}" class="btn btn-secondary" role="button">Add new item</a>
</div>

<form action="#" th:action="@{/items}" method="get">
    <input type="text" id="itemSearchQuery" name="itemQuery" placeholder="Search items..." />
    <button type="submit" class="btn btn-secondary">Search</button>
</form>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="merchitem : ${item_list}">
        <td th:text="${merchitem.name}"></td>
        <td th:text="${merchitem.description}"></td>
        <td th:text="${merchitem.quantity}"></td>
        <td th:text="${merchitem.price}"></td>
        <td>
            <a th:href="@{/items/updateItemForm/{id}(id=${merchitem.id})}" class="btn btn-secondary">Update</a>
            <form th:action="@{/items/removeItem}" method="post" style="display: inline;">
                <input type="hidden" th:attr="value=${merchitem.id}" name="id" />
                <button class="btn btn-danger" type="submit">Remove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

</body>
</html>