<!DOCTYPE html>
<html lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Purchase</title>
    <style>
        .table-container {
            height: 300px;
            overflow: auto;
        }
    </style>
</head>
<body>

<a th:href="@{/}" class="btn btn-primary" role="button">Home</a><br>

<h2>Purchase Page</h2>

<form action="#" th:action="@{/purchasePage}" method="get">
    <input type="text" id="userSearchQuery" name="userQuery" placeholder="Search users..." />
    <input type="text" id="itemSearchQuery" name="itemQuery" placeholder="Search items..." />
    <button type="submit" class="btn btn-secondary">Search</button>
</form>

<form th:action="@{/purchaseItem}" method="post">
    <div class="row">
    <div class="table-responsive col-md-5">
        <h3 class="sub-header">Users</h3>
            <div class="table-container">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${user_list}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.balance}"></td>
                        <td>
                            <input type="radio" name="selectedUserId" th:value="${user.id}" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="table-responsive col-md-6">
        <h3 class="sub-header">Items</h3>
        <div class="table-container">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Select</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${item_list}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.price}"></td>
                    <td>
                        <input type="radio" name="selectedItemId" th:value="${item.id}" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <input type="hidden" id="userQuery" name="userQuery" th:value="${userQuery}" />
    <input type="hidden" id="itemQuery" name="itemQuery" th:value="${itemQuery}" />
    <input type="number" name="amountOfItems" th:value="${amountOfItems}" value="1" />
    <button type="submit" class="btn btn-secondary">Purchase</button>
</form>

<H2>Purchase Log</H2>

<div class="table-container">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">UID</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">IID</th>
            <th scope="col">ItemName</th>
            <th scope="col">Amount purchased</th>
            <th scope="col">Total cost</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="purchase : ${purchase_list}">
            <td th:text="${purchase.purchaseDateTime}"></td>
            <td th:text="${purchase.user.id}"></td>
            <td th:text="${purchase.user.name}"></td>
            <td th:text="${purchase.user.email}"></td>
            <td th:text="${purchase.item.id}"></td>
            <td th:text="${purchase.item.name}"></td>
            <td th:text="${purchase.itemsPurchased}"></td>
            <td th:text="${purchase.totalCost}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

</body>
</html>