<!DOCTYPE html>
<html lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Update Balance</title>
</head>
<body>

<a th:href="@{/}" class="btn btn-primary" role="button">Home</a><br>

<h2>Update Balance for User: <span th:text="${user.name + ' ' + user.email}"></span></h2>
<form th:object="${user}" th:action="@{/users/updateBalance}" method="post">
  <input type="hidden" th:attr="value=${user.id}" name="id" />
  <label>Current Balance: <span th:text="${user.balance}"></span></label><br />
  <label>New balance:</label>
  <input type="number" name="amount" required />
  <button type="submit" class="btn btn-secondary">Update</button>
</form>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

</body>
</html>