<!DOCTYPE html>
<html lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<a th:href="@{/}" class="btn btn-primary" role="button">Home</a><br>

<form action="#" th:action="@{/users}" method="get">
    <input type="text" id="userSearchQuery" name="userQuery" placeholder="Search users..." />
    <button type="submit" class="btn btn-secondary">Search</button>
</form>

<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${user_list}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.balance}"></td>
        <td>
            <a th:href="@{/users/updateBalanceForm/{id}(id=${user.id})}" class="btn btn-secondary">Update</a>
        </td>
    </tr>
    </tbody>
</table>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

</body>
</html>